body {
    font-family: Arial, sans-serif;
    background-color: #f0e68c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 900px;
}

.card h1 {
    color: #ff6347;
}

.card p {
    color: #333;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

body {
    padding-top: 50px; /* Adjust this value based on the height of your nav */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;
}

a#startTimer {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a#startTimer:hover {
    background-color: #0056b3;
}

#timer {
    font-size: 2em;
    margin-top: 20px;
    color: #FF0000;
}